*{
  box-sizing: border-box;
}

p{
  margin: 0;
}

.d-flex{
  display: flex;
}
.items-start{
  align-items: start;
}
.items-center{
  align-items: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-start{
  justify-content: flex-start;
}
.justify-center{
  justify-content: center;
}
.column{
  flex-direction: column;
}
.cursor-pointer{
  cursor: pointer;
}
.wrap{
  flex-wrap: wrap;
}
.full-width {
  width: 100%;
}

body{
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.container{
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}
.container_fluid{
  max-width: 616px;
  width: 100%;
  margin: 0 auto;
}

header.header{
  padding: 22px 51px;
  box-shadow: 0 1px 0 0 rgba(17, 17, 17, 0.10);

  nav.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: -175px;

    a{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-decoration: none;
      color: var(--colors-gray, rgba(17, 17, 17, 0.48));
      &:not(:last-child){
        margin-right: 24px;
      }
    }
  }
}

section.home{
  .personal_info{
    margin: 30px 0;

    p{
      color: var(--colors-black, #111);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 20px;
    }
    .input_box:not(:last-child){
      margin-bottom: 10px;
    }
  }

  .childrens{
    .head{
      p {
        color: var(--colors-black, #111);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
      button{
        border-radius: 100px;
        border: 2px solid var(--colors-primary, #01A7FD);
        background-color: white;
        padding: 10px 20px;
        color: var(--colors-primary, #01A7FD);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        svg{
          margin-right: 4px;
        }
      }
    }
    .children_list{
      margin-top: 11px;
      .children_list-item{
        margin-bottom: 10px;
        .input_box{
          margin-right: 18px;
        }
        button{
          border: none;
          outline: none;
          background-color: white;
          color: var(--colors-primary, #01A7FD);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
      }
    }
  }

  .save_btn{
    display: inline-flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    background: var(--colors-primary, #01A7FD);
    margin-top: 30px;
    color: #FFFFFF;
  }
}

section.preview{
  margin-top: 30px;
  .personal{
    margin-bottom: 60px;
    p:first-child{
      color: var(--colors-black, #111);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      margin-bottom: 20px;
    }
    p + p{
      color: var(--colors-black, #111);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
    }
  }

  .childrens{
    p:first-child{
      color: var(--colors-black, #111);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
      margin-bottom: 20px;
    }
    .child{
      padding: 10px 20px;
      border-radius: 5px;
      background: var(--colors-gray-l, #F1F1F1);
      margin-bottom: 20px;
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
    }
  }
}

.input_box{
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--colors-gray-l, #F1F1F1);
  background: var(--colors-white, #FFF);
  label{
    margin-bottom: 5px;
    color: var(--colors-gray, rgba(17, 17, 17, 0.48));
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  input{
    border: none;
    outline: none;
    padding: 0;
    color: var(--colors-black, #111);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
}
